WebService/Convertisseur/src/main/webapp/wsdl/Convertisseur.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://convertisseur.eiffelbikestore.uge.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://convertisseur.eiffelbikestore.uge.fr" xmlns:intf="http://convertisseur.eiffelbikestore.uge.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://convertisseur.eiffelbikestore.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="EURToAUD">
    <complexType>
     <sequence>
      <element name="value" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="EURToAUDResponse">
    <complexType>
     <sequence>
      <element name="EURToAUDReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="EURToJPY">
    <complexType>
     <sequence>
      <element name="value" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="EURToJPYResponse">
    <complexType>
     <sequence>
      <element name="EURToJPYReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="EURToUSD">
    <complexType>
     <sequence>
      <element name="value" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="EURToUSDResponse">
    <complexType>
     <sequence>
      <element name="EURToUSDReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="EURToGBP">
    <complexType>
     <sequence>
      <element name="value" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="EURToGBPResponse">
    <complexType>
     <sequence>
      <element name="EURToGBPReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="EURToAUDResponse">

      <wsdl:part element="impl:EURToAUDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="EURToJPYRequest">

      <wsdl:part element="impl:EURToJPY" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="EURToUSDRequest">

      <wsdl:part element="impl:EURToUSD" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="EURToGBPRequest">

      <wsdl:part element="impl:EURToGBP" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="EURToJPYResponse">

      <wsdl:part element="impl:EURToJPYResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="EURToUSDResponse">

      <wsdl:part element="impl:EURToUSDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="EURToGBPResponse">

      <wsdl:part element="impl:EURToGBPResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="EURToAUDRequest">

      <wsdl:part element="impl:EURToAUD" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Convertisseur">

      <wsdl:operation name="EURToAUD">

         <wsdl:input message="impl:EURToAUDRequest" name="EURToAUDRequest">

       </wsdl:input>

         <wsdl:output message="impl:EURToAUDResponse" name="EURToAUDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="EURToJPY">

         <wsdl:input message="impl:EURToJPYRequest" name="EURToJPYRequest">

       </wsdl:input>

         <wsdl:output message="impl:EURToJPYResponse" name="EURToJPYResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="EURToUSD">

         <wsdl:input message="impl:EURToUSDRequest" name="EURToUSDRequest">

       </wsdl:input>

         <wsdl:output message="impl:EURToUSDResponse" name="EURToUSDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="EURToGBP">

         <wsdl:input message="impl:EURToGBPRequest" name="EURToGBPRequest">

       </wsdl:input>

         <wsdl:output message="impl:EURToGBPResponse" name="EURToGBPResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ConvertisseurSoapBinding" type="impl:Convertisseur">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="EURToAUD">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="EURToAUDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="EURToAUDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="EURToJPY">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="EURToJPYRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="EURToJPYResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="EURToUSD">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="EURToUSDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="EURToUSDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="EURToGBP">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="EURToGBPRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="EURToGBPResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ConvertisseurService">

      <wsdl:port binding="impl:ConvertisseurSoapBinding" name="Convertisseur">

         <wsdlsoap:address location="http://localhost:8080/Convertisseur/services/Convertisseur"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
