WebServicesDynamicProject/src/main/webapp/wsdl/Shop.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://shopWebService.eiffelbikestore.uge.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://shopWebService.eiffelbikestore.uge.fr" xmlns:intf="http://shopWebService.eiffelbikestore.uge.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://shopWebService.eiffelbikestore.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getClient">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getClientResponse">
    <complexType>
     <sequence>
      <element name="getClientReturn" type="impl:Client"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Client">
    <sequence>
     <element name="id" type="xsd:long"/>
    </sequence>
   </complexType>
   <element name="getDispo">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDispoResponse">
    <complexType>
     <sequence>
      <element name="getDispoReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBike">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBikeResponse">
    <complexType>
     <sequence>
      <element name="getBikeReturn" type="impl:Bike"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Bike">
    <sequence>
     <element name="id" type="xsd:long"/>
     <element name="price" type="xsd:long"/>
    </sequence>
   </complexType>
   <element name="loadBike">
    <complexType/>
   </element>
   <element name="loadBikeResponse">
    <complexType/>
   </element>
   <element name="registryClients">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="registryClientsResponse">
    <complexType/>
   </element>
   <element name="getBikePrice">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBikePriceResponse">
    <complexType>
     <sequence>
      <element name="getBikePriceReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToCart">
    <complexType>
     <sequence>
      <element name="idClient" type="xsd:long"/>
      <element name="idBike" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToCartResponse">
    <complexType>
     <sequence>
      <element name="addToCartReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="allBike">
    <complexType/>
   </element>
   <element name="allBikeResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="allBikeReturn" type="impl:Bike"/>
     </sequence>
    </complexType>
   </element>
   <element name="validBuy">
    <complexType>
     <sequence>
      <element name="idClient" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="validBuyResponse">
    <complexType/>
   </element>
   <element name="allClients">
    <complexType/>
   </element>
   <element name="allClientsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="allClientsReturn" type="impl:Client"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="loadBikeRequest">

      <wsdl:part element="impl:loadBike" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="allBikeResponse">

      <wsdl:part element="impl:allBikeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registryClientsRequest">

      <wsdl:part element="impl:registryClients" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="allBikeRequest">

      <wsdl:part element="impl:allBike" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBikeResponse">

      <wsdl:part element="impl:getBikeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getClientResponse">

      <wsdl:part element="impl:getClientResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBikePriceRequest">

      <wsdl:part element="impl:getBikePrice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDispoResponse">

      <wsdl:part element="impl:getDispoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getClientRequest">

      <wsdl:part element="impl:getClient" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validBuyRequest">

      <wsdl:part element="impl:validBuy" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToCartRequest">

      <wsdl:part element="impl:addToCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="allClientsRequest">

      <wsdl:part element="impl:allClients" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validBuyResponse">

      <wsdl:part element="impl:validBuyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBikePriceResponse">

      <wsdl:part element="impl:getBikePriceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loadBikeResponse">

      <wsdl:part element="impl:loadBikeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToCartResponse">

      <wsdl:part element="impl:addToCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="allClientsResponse">

      <wsdl:part element="impl:allClientsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registryClientsResponse">

      <wsdl:part element="impl:registryClientsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBikeRequest">

      <wsdl:part element="impl:getBike" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDispoRequest">

      <wsdl:part element="impl:getDispo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Shop">

      <wsdl:operation name="getClient">

         <wsdl:input message="impl:getClientRequest" name="getClientRequest">

       </wsdl:input>

         <wsdl:output message="impl:getClientResponse" name="getClientResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDispo">

         <wsdl:input message="impl:getDispoRequest" name="getDispoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDispoResponse" name="getDispoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBike">

         <wsdl:input message="impl:getBikeRequest" name="getBikeRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBikeResponse" name="getBikeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loadBike">

         <wsdl:input message="impl:loadBikeRequest" name="loadBikeRequest">

       </wsdl:input>

         <wsdl:output message="impl:loadBikeResponse" name="loadBikeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registryClients">

         <wsdl:input message="impl:registryClientsRequest" name="registryClientsRequest">

       </wsdl:input>

         <wsdl:output message="impl:registryClientsResponse" name="registryClientsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBikePrice">

         <wsdl:input message="impl:getBikePriceRequest" name="getBikePriceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBikePriceResponse" name="getBikePriceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToCart">

         <wsdl:input message="impl:addToCartRequest" name="addToCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:addToCartResponse" name="addToCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="allBike">

         <wsdl:input message="impl:allBikeRequest" name="allBikeRequest">

       </wsdl:input>

         <wsdl:output message="impl:allBikeResponse" name="allBikeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="validBuy">

         <wsdl:input message="impl:validBuyRequest" name="validBuyRequest">

       </wsdl:input>

         <wsdl:output message="impl:validBuyResponse" name="validBuyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="allClients">

         <wsdl:input message="impl:allClientsRequest" name="allClientsRequest">

       </wsdl:input>

         <wsdl:output message="impl:allClientsResponse" name="allClientsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ShopSoapBinding" type="impl:Shop">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getClient">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getClientRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getClientResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDispo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDispoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDispoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBike">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBikeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBikeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loadBike">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loadBikeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loadBikeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registryClients">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registryClientsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registryClientsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBikePrice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBikePriceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBikePriceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addToCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addToCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="allBike">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="allBikeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="allBikeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="validBuy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validBuyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validBuyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="allClients">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="allClientsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="allClientsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ShopService">

      <wsdl:port binding="impl:ShopSoapBinding" name="Shop">

         <wsdlsoap:address location="http://localhost:8080/WebServicesDynamicProject/services/Shop"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
